.sender-name {
  margin: 0 0 0 0.5rem;
  color: rgb(64, 67, 79);
}

.profile-icon {
  width: 2rem;
  height: 2rem;
  color: white;
  background-color: goldenrod;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 1.8rem;
}
