.message-group {
  border-top: 1px solid darkgrey;
  padding-left: 5rem;
}

.messages {
  margin-left: 2.4rem;
}

.message {
  margin: 2px;
  font-size: 16px;
  line-height: 1.2;
  color: rgb(120, 122, 131);
}

.sender-name {
  margin: 0 0 0 0.5rem;
  color: rgb(64, 67, 79);
}

.profile-icon {
  width: 2rem;
  height: 2rem;
  color: white;
  background-color: goldenrod;
  border-radius: 50%;
  text-align: center;
  line-height: 2;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 1.8rem;
}
