.sidebar {
  background: rgb(34, 49, 89);
  color: white;
}

.sidebar-header {
  display: grid;
  grid-template-rows: repeat(3, 32px);
  grid-template-columns: 20% 20% 26% 20%;
  column-gap: 10px;
  row-gap: 12px;
  padding: 1rem;
}

.workspace {
  grid-column-start: 1;
}

.plus {
  grid-column-start: 4;
  justify-self: end;
}

.search {
  grid-column-start: 2;
  grid-column-end: 5;
}

.threads {
  grid-column-start: 2;
  grid-column-end: 5;
}

.channels h4 {
  padding-left: 10px;
  margin: 0;
}

.channels div {
  margin-top: 10px;
}

.channels div p {
  color: rgb(127, 133, 144);
  padding-left: 20px;
  margin: 0;
  padding: 5px 20px;
  cursor: pointer;
}

.channels div p:hover {
  background-color: rgb(51, 65, 102);
}
